In [4]:
# 1. Declaring a List Datatype 
a=[10, 2.3, 8, 7, 6, 5, 4, 3/6, 2, 1]

In [7]:
# a. Sum of all the items in the list
def list_sum(items):
    return sum(items)
print("The sum of all the items in list a:",list_sum(a))

The sum of all the items in list a: 45.8

In [6]:
# b. Multiply all the items in the list
from functools import reduce
result = reduce(lambda x, y: x * y, a)
print("The result of multiplying the items of the list is:", result)

The result of multiplying the items of the list is: 154560.0

In [8]:
# c. To find the largest number in the list
print(max(a))

10

In [9]:
# d. To find the smallest number in the list
x=a[0]
for num in a:
    if num<x:
        x=num
print("The smallest number in the list is:",x)

The smallest number in the list is: 0.5

In [15]:
# 2. Using a given list, print the string and index number such that the first and last characters are identical
A = ['abc', 'xyz', 'aba', '1221']

# Iterating through the list to find strings with identical first and last characters
for index, item in enumerate(A):
    if isinstance(item, str) and item[0] == item[-1]:
        print(f"String: '{item}', Index: {index}")

String: 'aba', Index: 2
String: '1221', Index: 3

In [20]:
# 3. Tp print an "ABCDE" and "*" triangle
row= 5 
for i in range(1, row+1):
    for j in range(i):
        print(chr(65 + j), end=" ")
    print()

    
# Printing the asterisk pattern
for i in range(1, row+1):
    for j in range(i):
        print("*", end=" ")
    print()

A
A B
A B C
A B C D
A B C D E
*
* *
* * *
* * * *
* * * * *

In [23]:
# 4. To convert a list to a list of dictionaries

# Given list
ListColour= ["Black", "Red", "Maroon", "Yellow"], ["000000", "FF0000",
"800000", "FFFF00"]

# Break the list into two different lists
clr_names = ["Black", "Red", "Maroon", "Yellow"]
clr_codes = ["000000", "FF0000", "800000", "FFFF00"]

list_dict= [{"colorName": name, "colorCode": code} for name, code in zip(clr_names, clr_codes)]

print(list_dict)

[{'colorName': 'Black', 'colorCode': '000000'}, {'colorName': 'Red', 'colorCode': 'FF0000'}, {'colorName': 'Maroon', 'colorCode': '800000'}, {'colorName': 'Yellow', 'colorCode': 'FFFF00'}]

In [37]:
# 5. To print the even numbers and their square between a specified range

# range(1,50)
#print("Even numbers and their squares in the range 1 to 50:")
for num in range(1, 50):
    if num % 2 == 0:
        print(f" Even No: {num}, Square: {num ** 2}")

print()

# range(1,100)
for num in range(1, 100):
    if num % 2 == 0:
        print(f" Even No: {num}, Square: {num ** 2}")

 Even No: 2, Square: 4
 Even No: 4, Square: 16
 Even No: 6, Square: 36
 Even No: 8, Square: 64
 Even No: 10, Square: 100
 Even No: 12, Square: 144
 Even No: 14, Square: 196
 Even No: 16, Square: 256
 Even No: 18, Square: 324
 Even No: 20, Square: 400
 Even No: 22, Square: 484
 Even No: 24, Square: 576
 Even No: 26, Square: 676
 Even No: 28, Square: 784
 Even No: 30, Square: 900
 Even No: 32, Square: 1024
 Even No: 34, Square: 1156
 Even No: 36, Square: 1296
 Even No: 38, Square: 1444
 Even No: 40, Square: 1600
 Even No: 42, Square: 1764
 Even No: 44, Square: 1936
 Even No: 46, Square: 2116
 Even No: 48, Square: 2304

 Even No: 2, Square: 4
 Even No: 4, Square: 16
 Even No: 6, Square: 36
 Even No: 8, Square: 64
 Even No: 10, Square: 100
 Even No: 12, Square: 144
 Even No: 14, Square: 196
 Even No: 16, Square: 256
 Even No: 18, Square: 324
 Even No: 20, Square: 400
 Even No: 22, Square: 484
 Even No: 24, Square: 576
 Even No: 26, Square: 676
 Even No: 28, Square: 784
 Even No: 30, Square: 900
 Even No: 32, Square: 1024
 Even No: 34, Square: 1156
 Even No: 36, Square: 1296
 Even No: 38, Square: 1444
 Even No: 40, Square: 1600
 Even No: 42, Square: 1764
 Even No: 44, Square: 1936
 Even No: 46, Square: 2116
 Even No: 48, Square: 2304
 Even No: 50, Square: 2500
 Even No: 52, Square: 2704
 Even No: 54, Square: 2916
 Even No: 56, Square: 3136
 Even No: 58, Square: 3364
 Even No: 60, Square: 3600
 Even No: 62, Square: 3844
 Even No: 64, Square: 4096
 Even No: 66, Square: 4356
 Even No: 68, Square: 4624
 Even No: 70, Square: 4900
 Even No: 72, Square: 5184
 Even No: 74, Square: 5476
 Even No: 76, Square: 5776
 Even No: 78, Square: 6084
 Even No: 80, Square: 6400
 Even No: 82, Square: 6724
 Even No: 84, Square: 7056
 Even No: 86, Square: 7396
 Even No: 88, Square: 7744
 Even No: 90, Square: 8100
 Even No: 92, Square: 8464
 Even No: 94, Square: 8836
 Even No: 96, Square: 9216
 Even No: 98, Square: 9604

In [56]:
# 6. Code to input a 4 digit number and find the sum of digits and its reverse
a=input("Enter a 4-digit number:")
if len(a)!= 4:
    print("Re-enter a 4-digit number!")
else:
    num=int(a)
    sum_a=sum(int(digit) for digit in a)
    print(f"Sum of digits: {sum_a}")
    reverse_a = a[::-1]
    print(f"Reverse of the digits: {reverse_a}")

Enter a 4-digit number:4322
Sum of digits: 11
Reverse of the digits: 2234

In [60]:
# 7. Area of a triangle using the input function and to find the percentage contribution of each triangle
import math
def area_triangle(a, b, c):
    s = (a + b + c) / 2   # to calculate the semi-perimeter(s)
    area = math.sqrt(s*(s-a)*(s-b)*(s-c))
    return area

# First triangle
a1 = int(input("Enter the first side of the first triangle:"))
b1 = int(input("Enter the second side of the first triangle:"))
c1 = int(input("Enter the third side of the first triangle:"))

# Second triangle
a2 = int(input("Enter the first side of the second triangle:"))
b2 = int(input("Enter the second side of the second triangle:"))
c2 = int(input("Enter the third side of the second triangle:"))

# To calculate the area of two arbitrary triangles
area1 = area_triangle(a1, b1, c1)
area2 = area_triangle(a2, b2, c2)

# To calculate the total area enclosed by both triangles
t_area = area1 + area2

# Each triangle's contribution percentage
contr_percent1 =(area1/t_area)*100
contr_percent2=(area2/t_area)*100
print(f"Area of the first triangle: {area1:.2f}")
print(f"Area of the second triangle: {area2:.2f}")
print(f"Total area enclosed by both triangles: {t_area:.2f}")
print(f"First triangle's contribution to the total area: {contr_percent1:.2f}%")
print(f"Second triangle's contribution to the total area: {contr_percent2:.2f}%")

Enter the first side of the first triangle:3
Enter the second side of the first triangle:5
Enter the third side of the first triangle:4
Enter the first side of the second triangle:5
Enter the second side of the second triangle:4
Enter the third side of the second triangle:3
Area of the first triangle: 6.00
Area of the second triangle: 6.00
Total area enclosed by both triangles: 12.00
First triangle's contribution to the total area: 50.00%
Second triangle's contribution to the total area: 50.00%

In [74]:
# 8. Code to print the contents of the dictionary (name,age and blood) separated by a line of dashes
people=[
   {"name":"John Doe","age":30,"blood_group":"A+"},
   {"name":"Jane Smith","age":25,"blood_group":"B-"},
   {"name":"Emily Davis","age":40,"blood_group":"O+"},
   {"name":"Michael Brown","age":35,"blood_group":"AB-"},
   {"name":"William Johnson","age":28,"blood_group":"A-"},
   {"name":"Emma Wilson","age":22,"blood_group":"B+"},
   {"name":"Oliver Martinez","age":33,"blood_group":"O-"},
   {"name":"Sophia Anderson","age":27,"blood_group":"AB+"},
   {"name":"James Thomas","age":45,"blood_group":"A+"},
   {"name":"Isabella Lee","age":38,"blood_group":"B-"}]

for person in people:
    print(f"Name: {person['name']}")
    print(f"Age: {person['age']}")
    print(f"Blood Group: {person['blood_group']}")
    print('-' * 20)

Name: John Doe
Age: 30
Blood Group: A+
--------------------
Name: Jane Smith
Age: 25
Blood Group: B-
--------------------
Name: Emily Davis
Age: 40
Blood Group: O+
--------------------
Name: Michael Brown
Age: 35
Blood Group: AB-
--------------------
Name: William Johnson
Age: 28
Blood Group: A-
--------------------
Name: Emma Wilson
Age: 22
Blood Group: B+
--------------------
Name: Oliver Martinez
Age: 33
Blood Group: O-
--------------------
Name: Sophia Anderson
Age: 27
Blood Group: AB+
--------------------
Name: James Thomas
Age: 45
Blood Group: A+
--------------------
Name: Isabella Lee
Age: 38
Blood Group: B-
--------------------

In [85]:
# 9. To extract the rear elements from a tuple
tup_str=("python","learn","includehelp")
print("Input: " + str(tup_str))
rear_element= [s[-1] for s in tup_str[::-1]]
rear_element.reverse()
print("The rear element from the tuple:" + str(rear_element))

Input: ('python', 'learn', 'includehelp')
The rear element from the tuple:['n', 'n', 'p']

In [91]:
# 10. To convert input month name to the number of days in that month (inclusive of leap year)
month=["Jan","Feb","Mar","Apr","May","Jun","Jul"]

def leap_year(year):
    return (year % 4== 0 and year % 100 != 0) or (year % 400 == 0) #leap years are divisible by 4 and not divisible by 100 unless divisible by 400

def month_day(month, year=None):
    lst= [("Jan", 31),("Feb", 29 if year and is_leap_year(year) else 28),("Mar", 31),("Apr", 30),("May", 31),("Jun", 30),("Jul", 31),("Aug", 31),("Sept", 30),("Oct", 31), ("Nov", 30),("Dec", 31)]
    month_dict = dict(lst)
    return month_dict.get(month,"Invalid !")

month_name = input("Enter the Month: ")

if month_name == "Feb":
    year= int(input("Enter the year:"))
    day= month_day(month_name, year)
else:
    day= month_day(month_name)

if day== "Invalid !":
    print(day)
else:
    print(f"The number of days in {month_name} is: {day}")

Enter the Month: Feb
Enter the year:2023
The number of days in Feb is: 28